@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
header{
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    height: 3rem;
    padding: 10px 250px ;
    z-index: 2;
    position: fixed;
    width: 100%;

}
.head1{
    font-size: 19px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.9) ;


}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
}
li{
    padding: 5px;
    font-size: 14px;
}
.section1{
    position: relative;
    padding-top:50px;
    width: 100%;
    height: 35rem;
    background: linear-gradient(#ee0979,#ff6a00);
    text-align: center;
    color: rgba(255, 255, 255);
    font-weight: 800;
    z-index: 1;
    overflow: hidden;
}
.container1{
    position: relative;;
    padding-right: 3rem;
    padding-left: 3rem;
    z-index: 2;
    background-position: center center;
    padding-top: 10vh;
}
span{
    text-align: center;
    padding: 10px;
    font-size: 4rem;
    text-transform: lowercase;
}
.p1{
    padding: 10px;
    text-transform: lowercase;
    font-size: 2rem;
}
.learn{
    background-color: #ee0979;
    text-align: center;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 50rem;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top:30px ;
}
.learn:hover{
    background-color: #720238;
    transition: 0.4s;

}
#circle{
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
  
}
.circle1{
    height: 85rem;
    width: 85rem;
    bottom: -55rem;
    left: -55rem;
    animation-name: ram;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.circle2{

    height: 50rem;
    width: 50rem;
    top: -30rem;
    right: -25rem;
    animation-name: ram2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.circle3{
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%;
    animation-name: ram3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.circle4{
    height: 25rem;
    width: 25rem;
    top: -5rem;
    right: 35%;
    animation-name: ram4;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.section2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    position: relative;
    margin-top: 5rem;
    opacity: 0;
    transition: 4s;
}
.img1{
    position: absolute;
    border-radius: 50%;
    width: 50%;
    height: auto;
    left: 60%;

}
img{
    border-radius: 50%;
    width: 50%;
    height: 25rem;
}
.container2{
    position: absolute;
    width: 25%;
    height: 100vh;
    margin-top: 5%;
    left: 20%;
}
.section3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    position: relative;
    margin-top: 28rem;
    opacity: 0;
    transition: 4s;

}
.img2{
    position: absolute;
    border-radius: 50%;
    width: 50%;
    height: auto;
    margin-left:10% ;

}
img{
    border-radius: 50%;
    width: 50%;
    height: 25rem;
}
.container3{
    position: absolute;
    width: 25%;
    height: 100vh;
    left: 55%;
    margin-top: 5%;
}
.section4{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 25rem;
    overflow: hidden;
    transition: 4s;
}
.img3{
    position: absolute;
    border-radius: 50%;
    width: 50%;
    height: auto;
    left: 60%;

}
img{
    border-radius: 50%;
    width: 50%;
    height: 25rem;
}
.container4{
    position: absolute;
    width: 20%;
    height: 100vh;
    margin-top: 5%;
    left: 20%;
}
footer{
    width: 100%;
    height: 10vh;
    margin-top: 50%;
    background-color: black;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 20%;
    
}
@keyframes ram1 {
    25%{
        height: 70rem;
        width: 70rem;
        bottom: -50rem;
        left: -50rem;
    }
    50%{
        height: 60rem;
        width: 60rem;
        bottom: -40rem;
        left: -40rem;
    }
    75%{
        height: 70rem;
        width: 70rem;
        bottom: -45rem;
        left: -45rem;
    }
    100%{
        height: 85rem;
    width: 85rem;
    bottom: -55rem;
    left: -55rem;        
    }
}
@keyframes ram2 {
    25%{
        height: 50rem;
        width: 50rem;
        top: -30rem;
        right: -20rem;
    }
    50%{
        height: 50rem;
        width: 50rem;
        top: -30rem;
        right: -25rem;
    }
    75%{
        height: 50rem;
        width: 50rem;
        top: -40rem;
        right: -20rem;
    }
    100%{
        height: 60rem;
        width: 60rem;
        top: -20rem;
        right: -10rem;        
    }
}
@keyframes ram3 {
    25%{
        height: 25rem;
        width: 25rem;
        bottom: -10rem;
        right: 10%;
    }
    50%{
        height: 27rem;
        width: 27rem;
        bottom: -10rem;
        right: 20%;
    }
    75%{
        height: 22rem;
        width: 22rem;
        bottom: -10rem;
        right: 10%;
    }
    100%{
        height: 20rem;
        width: 20rem;
        bottom: -10rem;
        right: 5%;      
    }
}
@keyframes ram4 {
    50%{
        height: 28rem;
        width: 28rem;
        top: -5rem;
        right: 15%;
    }
    100%{
        height: 25rem;
        width: 25rem;
        top: -5rem;
        right: 35%;  
    }
}
@media(max-width:914px){
    header{
        justify-content: space-between;
        padding: 0 50px;
    }
    body{
        font-size: 14px;
        overflow-x: hidden;
    }
    .circle1{
        width: 70rem;
        height: 70rem;
    }
    .circle2{
        width: 30rem;
        height: 30rem;
    }
    .circle3{
        width: 10rem;
        height: 10rem;
    }
    .circle4{
        width: 12.5rem;
        height: 12.5rem;
    }
    .img1{
        width: 25%;
        height: 25%;
    }
    img{
        border-radius: 50%;
        width: 50%;
        height: 15rem;
    }
    .section2, .section3, .section4{
        height: 50vh;
    }
    .section3{
        margin-top:15rem ;
    }
    .section4{
        margin-top: 17rem;
    }
    footer{
        margin-top: 75%;
    }

}
@media(max-width:653px){
    header{
        justify-content: space-between;
        padding: 0 50px;
    }
    body{
        font-size: 14px;
        overflow-x: hidden;
    }
    
.circle1{
    width: 70rem;
    height: 70rem;
}
.circle2{
    width: 30rem;
    height: 30rem;
}
.circle3{
    width: 10rem;
    height: 10rem;
}
.circle4{
    width: 12.5rem;
    height: 12.5rem;
}
.img1{
    width: 25%;
    height: 25%;
}
img{
    border-radius: 50%;
    width: 50%;
    height: 15rem;
}
.section2, .section3, .section4{
    height: 20vh;
}
.section3{
    margin-top:40rem ;
}
.section4{
    margin-top: 40rem;
}
footer{
    margin-top: 260%;
    font-size: 12px;
}
}
@media(max-width:720px){
    header{
        justify-content: space-between;
    }
    ul{
        padding: 0 10%;
    }
    body{
        font-size: 14px;
        overflow-x: hidden;
    }
    
.circle1{
    width: 70rem;
    height: 70rem;
}
.circle2{
    width: 30rem;
    height: 30rem;
}
.circle3{
    width: 10rem;
    height: 10rem;
}
.circle4{
    width: 12.5rem;
    height: 12.5rem;
}
.img1{
    width: 25%;
    height: 25%;
}
img{
    border-radius: 50%;
    width: 50%;
    height: 15rem;
}
.section2, .section3, .section4{
    height: 20vh;
}
.section3{
    margin-top:20rem ;
}
.section4{
    margin-top: 20rem;
}
footer{
    margin-top: 105%;
    font-size: 12px;
}
}

@media(max-width:1024px){
    header{
        justify-content: space-between;
        padding: 0 110px;
    }
    body{
        font-size: 14px;
        overflow-x: hidden;
    }
    .section4{
        margin-bottom: 100%;
    }
}
@media(max-width:1368px){
    header{
        justify-content: space-between;
        padding: 20px;
    }
    ul{
        padding: 0 10%;
    }
    body{
        font-size: 16px;
        overflow-x: hidden;
    }
    
.circle1{
    width: 80rem;
    height: 80rem;
}
.circle2{
    width: 40rem;
    height: 40rem;
}
.circle3{
    width: 20rem;
    height: 20rem;
}
.circle4{
    width: 20rem;
    height: 20rem;
}
.img1{
    width: 30%;
    height: 30%;
}
img{
    border-radius: 50%;
    width: 50%;
    height: 15rem;
}
.section2, .section3, .section4{
    height: 20vh;
    font-size: 16px;
}
.section3{
    margin-top:20rem ;

}
.section4{
    margin-top: 20rem;
}
footer{
    margin-top: 30%;
    font-size: 16px;
    overflow-y: hidden;
}
}

@media(max-width:915px){
    header{
        justify-content: space-between;
        padding: 0 50px;
    }
    body{
        font-size: 14px;
        overflow-x: hidden;
    }
.img1{
    width: 25%;
    height: 25%;
}
img{
    border-radius: 50%;
    width: 50%;
    height: 15rem;
}
.section2, .section3, .section4{
    height: 20vh;
}
.section3{
    margin-top:40rem ;
}
.section4{
    margin-top: 40rem;
}
footer{
    margin-top: 180%;
    margin-bottom: 10%;
    height: 15vh;
    font-size: 12px;
}
}

@media(max-width:740px){
    body{
        font-size: 14px;
        overflow-x: hidden;
    }
.img1{
    width: 50%;
    height: 50%;
}
img{
    border-radius: 50%;
    width: 50%;
    height: 15rem;
}
.section2, .section3, .section4{
    height: 20vh;
}
.section3{
    margin-top:50rem ;
}
.section4{
    margin-top: 50rem;
}
footer{
    margin-top: 250%;
    font-size: 12px;
}
}

@media(max-width:320px){
    header{
        justify-content: space-between;
        padding: 0 30px;
    }
    body{
        font-size: 12px;
        overflow-x: hidden;
    }
    
.circle1{
    width: 50rem;
    height: 50rem;
}
.circle2{
    width: 20rem;
    height: 20rem;
}
.circle3{
    width: 10rem;
    height: 10rem;
}
.circle4{
    width: 12.5rem;
    height: 12.5rem;
}
.img1{
    width: 20%;
    height: 20%;
}
img{
    border-radius: 50%;
    width: 50%;
    height: 15rem;
}
.section2, .section3, .section4{
    height: 20vh;
}
.section3{
    margin-top:60rem ;
}
.section4{
    margin-top: 60rem;
}
footer{
    margin-top: 500%;
    font-size: 10px;
}
}
@media(max-width:480px){
    header{
        justify-content: space-between;
        padding: 0 40px;
    }
    body{
        overflow-x: hidden;
    }
}
